@charset "utf-8";

/* reset */
*{margin: 0;padding: 0; border: 0;}
a{text-decoration: none;color: #000;}
ol, ul{list-style: none;}
img{vertical-align: middle; max-width: 100%}
/* common */
body{
  background:#f0f1f5
}
.center{
  position: relative;
  max-width: 1600px;
  margin: auto;
}
.inner{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 50px 0;
}
.title{
  text-align: left;
  font-weight: bold;
  font-size: 24px;
  color: #fff;
}
/* 타이핑 효과 */
.typing-txt{display: none;}
ul{list-style:none;}
.typing ul li{
  display:block;
}
.typing ul li.on {  
  display: inline-block; 
  animation-name: cursor; 
  animation-duration: 0.3s; 
  animation-iteration-count: infinite; 
} 
@keyframes cursor{ 
  0%{border-right: 1px solid #fff} 
  50%{border-right: 1px solid #000} 
  100%{border-right: 1px solid #fff} 
}


/* header */
header .nav-mobile {
  display: none;
}

header nav{
  position: fixed;
  width: 100%;
  line-height: 40px;
  padding: 20px;
  box-sizing: border-box;
  font-size: 1.1em;
  color: #fa7333;
  z-index: 99;
}
header .nav-pc {
  float: right;
}
header  .nav-pc li{
  display: inline-block;
  margin-right: 20px;
}
header  .nav-pc li>a{
  color: #fa7333;
}
header nav .nav-pc>li>a::after{
  content: '';
  display: block;
  width: 0%;
  height: 4px;
  margin: auto;
  background: #ee6939;
  transition: width 0.2s;
}
header nav .nav-pc>li:hover>a::after{
  width: 100%;
}
header nav .nav-pc>li:hover>a{
  color: #ffb89e;
}

header nav .nav-tit{
  color: #ccc;
}

/* scroll */


.scroll header nav{
  box-shadow: 0 0 4px 0 rgba(206, 204, 204, 0.4);
  background: #fff;
  line-height: 20px;
 }

/* main */
.main{
  background: url(../img/main.png) no-repeat center;
  background-size: cover;
  position: relative;
  height: 800px;
}
.main .txtWrap{
    padding-top: 230px;
    box-sizing: border-box;
}
.main .txtWrap h3{
  font-weight: bold;
  font-size: 50px;
}
.main .txtWrap h3.pfTxt{
  font-size: 84px;
}
.main .txtWrap .typingTxt{
  font-size: 18px;
  text-align: center;
}


/* about */
#about{
  position: relative;
  background: url(../img/aboutBg.png) no-repeat center;
  /* background-size: cover; */
  height: 600px;
  padding: 100px 0;
}

#about .profile{
  /* float: left; */
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%);
}
#about .profile .circle::before{
  content: '';
  width: 500px;
  height: 500px;
  background: red;
}
#about .profile .circle{
  position: relative;
  width: 500px;
  height: 500px;
  margin: 30px auto;
  border-radius: 50%;
  overflow: hidden;
}
#about .profile .circle::after{
  content: '?';
  display: block;
  width: 500px;
  height: 500px;
  background: #8e8e8e;
  /* position: relative; */
  left: 41px;
  top: 0;
}
#about .profile .circle>img:hover {
  filter: grayscale(0%);
  transition: .5s ease-in-out;
} 

#about .profile .circle>img {
  filter: grayscale(100%);
  transition: .5s ease-in-out;
}
#about  .aboutTxt{
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  /* padding: 250px 0 0; */
  color: #4d4d4d;
}

/* #about .wrap{
  position: absolute;
  left: 40%;
  bottom: 50%;
}
#about .wrap>.headline {
  font-size: 48px;
  font-weight: 500;
} */

/* portfolio */

.clear {
  content: '';
  display: block;
  clear: both;
}

#portfolio{
  width: 100%;
  padding: 100px 0;
  box-sizing: border-box;
  position: relative;
}
#portfolio .center .pfWrap {
  position: relative;
  height: 650px;
  margin-top: 100px;
}


#portfolio .center .pfWrap.left .imgBox {
  float: left;
}

#portfolio  .pfWrap .textBox {
  right: 0;
  padding: 300px 30px 0;
  float: left;
}

#portfolio .center>.title {
  color: #ccc;
}

.textBox .textTit{
  font-size: 3em;
  font-weight: bold;
  letter-spacing: 1px;
}
.textBox .textSkile {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 16px 0 24px;
}

.textBox .textTit>.subTit{
  font-size: 28px;
}
.textBox .headlineUnderBox {
  width: 100px;
  height: 6px;
  background: #ccc;
}
.textBox .caption {
  font-size: 16px;
  font-weight: 300;
  margin: 16px 0 24px;
  clear: both;
  padding-top: 16px;
}


/* btnBox */
button,
button::after {
  -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

button {
  background: none;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #ccc;
  display: inline-grid;
  font-size: 12px;
  font-weight: bold;
  /* margin: 1em auto; */
  padding: 1.5em 6em;
  position: relative;
  text-transform: uppercase;
}

button::before,
button::after {
  background: #fa7333;
  content: '';
  position: absolute;
  z-index: -1;
}

button:hover {
  color: #fff;
}

/* BUTTON 2 */
.btn::after {
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
}

.btn:hover:after {
  width: 100%;
}

/* right */


#portfolio .center .pfWrap.right .textBox {
  float: right;
  /* right: 54%; */
  text-align: right;
  padding: 312px 30px 0;
}
#portfolio .center .pfWrap.right .imgBox{
  right: 0;
}

#portfolio .center .pfWrap.right .imgBox .item{
  float: right;
}

#portfolio  .pfWrap.right .textBox .headlineUnderBox{
  float: right;
}
/* #portfolio .pfWrap.right .btnBox{
  float: right;
  display: inherit;
}

#portfolio  .pfWrap.right .btnBox li{
  float: right;
} */

/* contact */
#contact {
  padding: 20px 0;
  background: #cccccc;
}

#contact .tnkWrap{
  text-align: center;
  color:#fff;
}
/* 
#contact .contact{
  font-size: 12px;
} */
#contact .contact li{
  font-size: 16px;
  padding: 30px 0 0;
  width: 250px;
  margin: auto;
  text-align: left;
}

/* 버튼효과 */
.btnBox li a::after {
  height: 100%;
  left: 0;
  top: 0;
  width: 0;
}

.btnBox li a:hover:after {
  width: 100%;
}

/* 애니메이션 효과 */
#about .aboutTxt {
  animation-name: movingPara;
  animation-duration: 3s;
}

@keyframes movingPara {
  from { margin-left: 100%; }
  to { margin-left: 0%; }

}
